label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}

body {
    background-color: #f5f5f5;
    padding: 19px;
}

.imput {
    border: 1px solid #cccccc;
}